.move-page {
  padding: 1.25rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: var(--box-shadow);
}
.move-page form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.move-page form > *:not(:last-child) {
  margin-bottom: 0.75rem;
}
