html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
header, footer {
  background-color: #ccc;
}

/* flex version */
/* body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
} */

/* grid version */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}