body {
  font-family: sans-serif;
  margin: 0;
}

.section {
  height: 100vh;
  background-color: #7b1fa2;
  display: flex; justify-content: center; align-items: center; /* places the a-element in the center of the screen */
}

.menu-btn {
  display: block; /* allows the a-element to have a width, height and top, left etc. */
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  height: 2px;  top: 50%; margin-top: -1px;  /* places the span-element in the center */
  width: 20px; left: 50%; margin-left: -10px; /* places the span-element in the center */
  background-color: #222;
}

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  transition: 0.2s;
}

.menu-btn span::before {
  transform: translateY(-5px)
}

.menu-btn span::after {
  transform: translateY(5px);
}

/* cross */
/*
.menu-btn_active span::before {
  transform: rotate(45deg);
}

.menu-btn_active span {
  height: 0;
}

.menu-btn_active span::after {
  transform: rotate(-45deg);
}
*/
/* 1 arrow */
/*
.menu-btn_active span::before {
  transform: rotate(35deg);
  transform-origin: left bottom;
  width: 10px;
}

.menu-btn_active span::after {
  transform: rotate(-35deg);
  transform-origin: left top;
  width: 10px;
}
*/
/* 2 arrow */

.menu-btn_active span::before {
  transform: rotate(-35deg);
  transform-origin: left bottom;
  width: 10px;
}

.menu-btn_active span::after {
  transform: rotate(35deg);
  transform-origin: left top;
  width: 10px;
}

.menu-block {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50px;
}

.menu-nav__link {
  display: inline-block;
  text-decoration: none;
  color: #222;
  margin-right: 20px;
}

.menu-nav {
  transition: 0.5s;
  transform-origin: right center;
  transform: translateX(100%);
  opacity: 0;
  background-color: #fff;
  height: 50px;
  line-height: 50px;
  padding-left: 25px; padding-right: 50px; margin-right: -50px; border-radius: 50px;
}

.menu-nav_active {
  transform: translateX(0%);
  opacity: 1;
}