<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto&display=swap">
  <link rel="stylesheet" href="./libs/normalize.css">
  <link rel="stylesheet" href="./stylesheets/main.css">
  <link rel="stylesheet" href="./stylesheets/login.css">
  <title>Login page</title>
</head>
<body>
  <div class="login-page">
    <h1>Login</h1>
    <form action="/login" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
      <input type="submit" value="Login">
      <a href="/register">Go to register page</a>
    </form>
  </div>
</body>
</html>
