* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-left: 15vw;
}

nav {
  position: fixed;
  left: 0;
  width: 15vw;
  height: 100vh;
  padding: 2em;
  background: #333;
  color: white;
}

nav a {
  color: inherit;
  text-decoration: none;
  display: block;
}

section {
  height: 100vh;
}

section#one {
  background: yellow;
}

section#two {
  background: green;
}

section#three {
  background: blue;
}