nav {
  width: 960px; /* a width of the menu */
  margin: 0 auto; /* a block has to have a fixed width so that the margin: auto can work */
}

/* a full width background for the menu */
nav:before {
  content: '';
  display: block;
  height: 50px;
  width: 100%;
  background: black;
  position: absolute;
  left: 0;
  z-index: -1; /* the background will be a layer below the menu */
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 50px;
}

ul li {
  float: left; /* this is for a horizontal position of items */
}

ul li a {
  color: white;
  display: block;
  height: 50px; /* so a link will work if we click anywhere on a li element */
  padding: 0 30px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px; /* a position of a line, as a rule, should be equal to a height of a line, so it will be in the middle */
}

ul li a:hover {
  background: red;
  transition: 300ms;
}