/* ----- .edit ----- */
.edit {
  width: 800px;
  min-height: calc(100vh - 2.5rem);
  padding: 1.25rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: var(--box-shadow);
  position: relative;
}

/* ----- form ----- */
.edit form {
  height: 100%;
  width: 100%;
}
.edit form textarea {
  height: 100%;
  width: 100%;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* ----- .control ----- */
.edit .control {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}
.edit .control li:not(:first-child) {
  padding-left: 0.5rem;
}
