@import "./_colors.scss";

.app {
  > main.home {
    height: 100%;
    min-height: 100%;
    padding: 20px;
    background-color: $gray-100;

    // --- grid --- start
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
            "a b"
            "a c"
            "a d";
    .articles-tree { grid-area: a; }
    .recent { grid-area: b; }
    .favorites { grid-area: c; }
    .search { grid-area: d; }
    // --- grid --- end
            
    > div {
      padding: inherit;
      background-color: $white;
      box-shadow: var(--box-shadow);
    }
    .articles-tree, .recent, .favorites {
      ol {
        list-style: none;
      }
    }
    .articles-tree {
      li {
        position: relative;
        
        button {
          position: absolute;
          top: 1px;
          left: -22px;
          padding: 0;
          width: 18px;

          background-color: transparent;
          border: none;
          cursor: pointer;
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
        > ol { display: none; }
        > .btn-open { display: block; }
        > .btn-close { display: none; }
      }

      li.opened {
        > ol { display: block; }
        > .btn-open { display: none; }
        > .btn-close { display: block; }
      }

      > button {
        display: none;
      }
    }
  }
}