@import "./_colors.scss";

.app {
  .view, .preview {
    > *:not(:last-child) {
      margin-bottom: 20px;
    }
  
    .page {
      > * {
        margin-bottom: 10px;
      }
    }

    .pages-list {
      padding-top: 10px;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}
