.home {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  grid-column-gap: 0px;
  grid-row-gap: 0px; 

  .articles-tree { grid-area: 1 / 1 / 3 / 2; }
  .recent { grid-area: 1 / 2 / 2 / 3; }
  .favorites { grid-area: 2 / 2 / 3 / 3; } 
}
