@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll; overflow-x: hidden;
  font-family: 'Amatic SC', cursive;
  /* color: #fff; */
}

header {
  box-sizing: border-box;
  min-height: 100vh;
  text-align: center; padding-top: 20%; /* places/puts text in the middle of the screen */
  transform-style: inherit; /* takes it from the parent = transform-style: preserve-3d; */
  width: 100vw;
}

header::before { /* this creates a parallax effect */
  content: ''; /* if it is not written, the pseudo-element won't be on the page */
  display: block;
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  transform-origin: center;
  min-height: 100vh;
  background-image: url('bg.jpg'); background-repeat: no-repeat; background-size: cover;

  /* Parallax */
  transform: translateZ(-1px) scale(2);
}

header h1 {
  margin-top: -100px;
  font-size: 42px;
}

.text {
  position: absolute;
  top: 100vh;
}